{% extends 'base.html' %}
{% block contenido %}
        <H1 class="titular-seccion">NOTICIAS</H1>

        {% for noticia in noticias %}
        <div class="main columns">
            <section class="column">
                    <a class="article first-article" href="{% url 'noticiadetalle' id=noticia.id %}">
                        <figure class="article-image is-4by3">
                            <img src="{{MEDIA_ROOT}}/noticias/{{noticia.img}}" alt="">
                        </figure>
                        <div class="article-body">
                            <h2 class="article-title">{{noticia.titulo}}</h2>
                            <p class="article-content">
                                {{noticia.contenido}}
                            </p>
                            <footer class="article-info">
                                <span>{{noticia.autor}}</span>
                                <span>42 comments</span>
                            </footer>
                        </div>
                    </a>
        </div>
        {% endfor %}
{% endblock %}