*, ::after, ::before {
	box-sizing: border-box;
}

/* Fonts*/
html {
	background-color: #f4eded;
	font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

/*Body styles*/
body {
    background-color: #f4eded;
	margin: 0;
    padding: 0;
}

main {
    background-color: #f4eded;
	display: block;
}

a {
	text-decoration: none;
}

nav {
    margin-bottom: 0px;
}

div, h2, p, figure {
    margin: 0;
    padding: 0;
}

footer{
    bottom: 0;
    right: 0;
    left: 0;
}

#index-body {
	display: flex;
	flex-direction: column;
	background-image: url('images/ninios-merendando.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	height: 100vh;
}

.titular-seccion {
	font-size: 40px;
    font-weight: bold;
	color: #254d32;
	margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
}

.nosotros-info{
    text-align: left;
    padding: 0px 50px;
}

.nosotros-text{
    flex: 1;
    padding: 5px 20px!important;
    background: white;
    margin: 10px
}
.firma{
    padding: 10px 0px;
    text-align: right;
}
/*Other styles*/

.main {
    margin: 0 0;
    max-width: 1040px;
    padding: 20px;
}

.columns {
    display: flex;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-column {
    flex: 1;
}

.article {
    background: white;
    color: #666;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    margin: 10px;
}

.article-image {
    background: #eee;
    display: block;
    padding-top: 75%;
    position: relative;
    width: 100%;
}

.article-image img {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.article-image.is-3by2 {
    padding-top: 66.6666%;
}

.article-image.is-16by9 {
    padding-top: 56.25%;
}

.article-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.article-title {
    color: #333;
    flex-shrink: 0;
    font-size: 1.4em;
    font-weight: bold;
    font-weight: 700;
    line-height: 1.2;
}

.article-content {
    flex: 1;
    margin-top: 5px;
}

.article-info {
    display: flex;
    font-size: 0.85em;
    justify-content: space-between;
    margin-top: 10px;
}

@media screen and (min-width: 800px) {
    .columns, .column {
        display: flex;
    }

    .nosotros-info{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nosotros-text{
        max-width: 1100px;
    }


}


/*Header styles*/

.header-title{
    color: #ffffff;
    font-size: 25px;
    margin-top: 3px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
}
.logo img {
    display: block  ;
	height: 65px;
    left: 0;
    position: static  ;
    padding: 10px 10px;
}

#navbarsExample04 {
    font-size: 25px;
    font-weight: bold;
    right: 0px;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0px;
}
.bg-dark {
    background-color: #4daa57!important;
}

.navbar-dark .navbar-nav .nav-link.active:hover {
    color: #254d32;
    ;
}

/*Footer*/

.my-4 {
    background-color: #f4eded;
    bottom: 0px!important;
    margin-top: 30px!important;
    margin-bottom: 0px!important;
}
